h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 44px;
	font-weight: 700;
}

.article_page .img_wrap	{
	width: 100%;
}
.article_page .img_wrap	img{
	width: 100%;
}
.article_page .date {
	margin:25px 0;
	font-size: 26px;
	font-weight: 700;
	color: #d2e653;
}
.article_page p.article_text {
	margin: 60px 0;
	color: #232323;
}
.article_page p.article_text>span {
	display: block;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 100;
}
.article_page p.article_text>b {
	display: block;
	margin-bottom: 30px;
	font-size: 18px;
}
.article_page p.article_text>span.quote {
	color: #4daee3;
	padding-left: 35px;
	position: relative;
}
.article_page p.article_text>span.quote:before {
	height: 100%;
	width: 3px;
	background-color: #4daee3;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
}
.article_page .article_gallery {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
.article_page .article_gallery img {
	margin: 0 10px;
	width: 30%;
}
.article_page table {
	width: 100%;
	border:none;
}
.article_page table.mobile {
	display: none;
}
.article_page table th {
	background-color: #dbeff8;
	font-size: 20px;
	padding-left: 30px;
	text-align: left;
	height: 70px;
	color: #609ec3;
}
.article_page table td {
	font-size: 20px;
	font-weight: 100;
	padding-left: 30px;
	text-align: left;
	height: 70px;
}
.article_page table tr td{
	border-bottom:1px solid #e0e0e0;
}
.article_page table tr:last-child td{
	border-bottom:none;
}
.article_page .pagination {
	margin: 80px 0 120px 0;
	justify-content: space-between;
}
.article_page .pagination .slide_button {
	height: 50px;
	padding: 0 40px;
	line-height: 46px;
	border:2px solid #232323;
	color: #232323;
	font-weight: 700;
	font-size: 18px;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.2s linear;
}
.article_page .pagination .slide_button:hover {
	background-color: #232323;
	color: #ffffff;
}
.article_page .pagination .slide_button.prev i {
	margin-right: 10px;
}
.article_page .pagination .slide_button.next i {
	margin-left: 10px;
}
ul.article_list {
	list-style: disc;
	width: 49%;
	padding-left: 30px;
	margin: 0;
	display: inline-block;
	position: relative;
}
ul.article_list li:before {
    content:'';
    background: #cee241;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 15px;
}
ol.article_list li,
ul.article_list li{
    list-style: none;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 30px;
    position: relative;
    padding-left: 50px;
}
ol.article_list li:last-child,
ul.article_list li:last-child {
	margin-bottom: 0;
}
ol.article_list {
	counter-reset: myCounter;
	width: 49%;
	padding-left: 30px;
	margin: 0;
	display: inline-block;
	position: relative;
}
ol.article_list li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: #57b2e5;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    width: 25px;
    box-sizing: border-box;
    height: 25px;
    border:1px solid #57b2e5;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top:2px;
    left: 0;
}


@media all and (max-width: 1200px) {
	h1 {
		font-size: 36px;
	}
	.article_page .date {
		font-size: 22px;
	}
	.article_page p.article_text {
		margin: 40px 0;
	}
	.article_page p.article_text>span,
	ol.article_list li, ul.article_list li {
		margin-bottom: 20px;
	}
	.article_page table th,
	.article_page table td {
		font-size: 18px;
		height: 60px;
	}
}
@media all and (max-width: 768px) {
	ol.article_list,ul.article_list {
		width: 80%;
	}
	ul.article_list {
		margin-bottom: 30px;
	}
	h1 {
		margin-top: 30px;
		margin-bottom: 0;
	}
}
@media all and (max-width: 640px) {
	h1 {
		font-size: 28px;
	}
	.article_page .date {
		font-size: 18px;
	}
	.article_page p.article_text>span {
		font-size: 16px;
	}
	.article_page .article_gallery {
		flex-direction: column;
	}
	.article_page .article_gallery img {
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}
	.article_page .article_gallery img:last-child {
		margin-bottom: 0;
	}
	table.desktop {
		display: none;
	}
	table.mobile {
		display: table !important;
	}
	.article_page .pagination {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.article_page .pagination .slide_button {
		width: 285px;
		text-align: center;
	}
	.article_page .pagination .slide_button.prev {
		margin-bottom: 20px;
	}
}
@media all and (max-width: 500px) {
	.container {
		padding: 0;
	}
	h1 {
		padding: 0 10px;
		font-size: 22px;
	}
	.article_page .date, .article_page .img_wrap,
	.article_page p.article_text>span, .article_page p.article_text>b {
		padding: 0 10px;
	}
	.article_page p.article_text>span.quote:before {
		left: 10px;
	}
	.article_page .article_gallery img {
		width: calc(100% - 20px);
		margin-left: 10px;
	}
	ul.article_list {
		padding-left: 0;
		width: 100%;
	}
	ol.article_list {
		padding-left: 10px;
	}
	ol.article_list li {
		padding-left: 35px;
	}
	footer {
		padding: 20px 10px;
	}
	.article_page p.article_text {
		margin: 30px 0;
	}
}
@media all and (max-width: 420px) {
	.article_page .pagination .slide_button {
		height: 40px;
		border-radius: 20px;
		line-height: 36px;
		font-size: 16px;
		padding: 0;
		width: 225px;
	}
	.article_page table th, .article_page table td {
		padding-left: 10px;
	}
}